.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: auto;
  padding: 5px 12px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-white);
  text-align: center;
  cursor: pointer;
  margin: 0;
  background: var(--color-blue);
  border-color: var(--color-blue);
  border-radius: 8px;

  &--file {
    background-image: url("../../../static/img/file.svg");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--send {
    background-image: url("../../../static/img/send.svg");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--while {
    background-color: var(--color-white);
    border: 0 solid var(--color-white);
  }

  &--clear {
    background-color: transparent;
    color: var(--color-light-blue);
    font-weight: normal;
    border: none;
  }
}
