.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: auto;
  padding: 5px 12px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin: 0;
  background: #3369F3;
  border-color: #3369F3;
  border-radius: 8px;

  &--file {
    background-image: url("../../../static/img/file.svg");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--send {
    background-image: url("../../../static/img/send.svg");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--while {
    background-color: white;
    border: 0 solid white;
  }

  &--clear {
    background-color: transparent;
    color: #4a90e2;
    font-weight: normal;
    border: none;
  }
}