<div>
    {{#> modal }}
        {{#*inline "content"}}
            <div class="add-file">
                {{{header}}}
                {{{buttonChoose}}}
                {{{buttonChange}}}
                {{{footer}}}
            </div>
        {{/inline}}
    {{/modal}}
</div>