<div class="profile__form-wrapper">
    {{>avatar src=this.header.avatar modifier="profile__form--avatar h-mb--20"}}
    {{>text title=this.header.name modifier="text--bold"}}
    <div
            class="profile__form"
    >
        {{#each fields}}
            <div class="profile__form--row">
                <span class="profile__form--row-label">{{label}}</span>
                {{#if ../isEdit}}
                    {{> input }}
                {{else}}
                    <span class="profile__form--row-value">{{value}}</span>
                {{/if}}
            </div>
        {{/each}}
    </div>
    <div class="profile__form--footer">
        {{#if isEdit}}
            {{#each footerEdit}}
                {{>button }}
            {{/each}}
        {{else}}
            {{#each footer}}
                {{>button }}
            {{/each}}
        {{/if}}
    </div>
</div>