<button class="profile--return"></button>
{{#> layoutBaseCenter }}
    {{#*inline "center"}}
        {{#> wrapper}}
            {{#*inline "content"}}
                {{> profileForm this}}
            {{/inline}}
        {{/wrapper}}
    {{/inline}}
{{/layoutBaseCenter}}