.profile--return {
  position: fixed;
  width: 64px;
  height: auto;
  background-color: var(--color-border-grey);
  left: 0;
  bottom: 0;
  top: 0;
  background-image: url("../../../static/img/back.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
