{{#> layoutBaseCenter }}
    {{#*inline "center"}}
        {{#> wrapper}}
            {{#*inline "content"}}
                {{> text this.header}}
                {{> text this.body}}
                <a href="{{this.link.href}}">{{this.link.title}}</a>
            {{/inline}}
        {{/wrapper}}
    {{/inline}}
{{/layoutBaseCenter}}