<div class="modal">
    <div class="modal--overlay"></div>
    <div class="modal--content">
        {{#each this.usersChat}}
            {{{this}}}
        {{/each}}
        {{{buttonCancel}}}
    </div>
</div>
