<div class="modal">
    <div class="modal--overlay"></div>
    <div class="modal--content">
        {{{oldPassword}}}
        {{{newPassword}}}
        {{{buttonChange}}}
        {{{buttonCancel}}}
    </div>
</div>
