<div class="enter__form-wrapper">
    {{{header}}}
    <form
            class="enter__form"
            data-component-name="form"
    >
        {{#each fields}}
            {{{this}}}
        {{/each}}
        {{{button}}}
    </form>
    {{{link}}}
</div>