.h-mb--10 {
  margin-bottom: 10px;
}

.h-mb--20 {
  margin-bottom: 20px;
}

.h-mb--40 {
  margin-bottom: 40px;
}

.h-flex--center {
  align-items: center;
}

.h-text--center {
  text-align: center;
}

body .body--modal {
  overflow: hidden;
}