<div class="layout-base">
    <div class="layout-base__center">
        <div class="wrapper {{modifier}}">
            {{{header}}}
            {{{body}}}
            {{{link}}}
        </div>
    </div>
</div>