@import '../layout';

.layout-base__left {
  min-height: 1px;
  float: left;
  clear: none;
  text-align: inherit;
  width: 20%;
  margin-left: 0;
  margin-right: 1.5%;
}

.layout-base__right {
  float: right;
  clear: none;
  text-align: inherit;
  width: 78%;
  margin-left: 0;
  margin-right: 1.5%;
}