<div class="message {{#if isYou}}message--you{{/if}}">
    {{{text}}}
    {{#if img}}
        <img src={{img}} alt="">
    {{/if}}
    <div class="message--time">
        {{#if isRead}}
            <span class="message--read"></span>
        {{/if}}
        {{time}}
    </div>
</div>