<div class="message {{#if is_you}}message--you{{/if}}">
    {{{text}}}
    {{#if file}}
        <img src={{file}} alt="">
    {{/if}}
    <div class="message--time">
        {{#if is_read}}
            <span class="message--read"></span>
        {{/if}}
        {{time}}
    </div>
</div>
